.filter{
    display: flex;
    justify-content: space-between;
    margin-top: 2.5rem;
}
.filter .input-group{
        box-shadow: 0px 0px 8px #ccc;
        border-radius: 5px ;
        -webkit-border-radius: 5px ;
        -moz-border-radius: 5px ;
        -ms-border-radius: 5px ;
        -o-border-radius: 5px ;
        padding: 5px 30px;
}
.dark .filter .input-group {
    box-shadow:0px 0px 8px hsla(210, 100%, 2%, 0.452) !important; 
    background-color: hsl(207, 26%, 17%);
}
#addon-wrapping{
    background-color: transparent !important;
    color: unset !important;
    border:none ;
   
}
#search-input{
border: none !important;
 padding-right: 50px;
    border-radius:0px 5px 5px 0px;
    -webkit-border-radius:0px 5px 5px 0px;
    -moz-border-radius:0px 5px 5px 0px;
    -ms-border-radius:0px 5px 5px 0px;
    -o-border-radius:0px 5px 5px 0px;

}

#sort-products{
box-shadow: 0px 0px 8px #ccc;
        border-radius: 5px ;
        -webkit-border-radius: 5px ;
        -moz-border-radius: 5px ;
        -ms-border-radius: 5px ;
        -o-border-radius: 5px ;
        padding: 5px 30px;
        background-color: transparent !important;
    color: unset !important;
    border:none ;
}
.dark #sort-products{
    box-shadow:0px 0px 8px hsla(210, 100%, 2%, 0.452) !important; 
    background-color: hsl(207, 26%, 17%);
}