/* .container {
  display: flex;
  justify-content: center;
} */

.dark{
  background-color: hsl(207, 26%, 17%);
  color: #fff;
  
}
.dark button{
  background-color: hsl(207, 26%, 17%);
  color: #fff;
}
.dark header{
  background-color: hsl(207, 26%, 17%);
  box-shadow: 0px 2px 8px hsla(210, 100%, 2%, 0.452);
  color: #fff;
}
.dark .product-desc{
  background-color: hsl(209, 23%, 22%);
}